<table border="1">
    <tr><th>#</th><th>Header</th><th>Link</th><th>Params</th><th>Description</th></tr>
    <tr><td>1</td><td>PUT</td><td>/image/</td><td>?&src=FULL_PATH_TO_IMAGE</td><td>Upload image</td></tr>
    <tr><td>2</td><td>PUT</td><td>/tag/</td><td>?&name=NAME_OF_TAG</td><td>Upload tag</td></tr>
    <tr><td>3</td><td>GET</td><td>/photos/</td><td>?&id_tag=ID_OF_TAG&page=NUM_OF_PAGE</td><td>Return photos</td></tr>
    <tr><td>4</td><td>GET</td><td>/photo/</td><td>?&id_photo=ID_OF_PHOTO</td><td>Return photo</td></tr>
    <tr><td>5</td><td>DELETE</td><td>/photo/4</td><td>?&id_photo=ID_OF_PHOTO</td><td>Delete photo</td></tr>
    <tr><td>6</td><td>DELETE</td><td>/tag/4</td><td>?&id_tag=ID_OF_TAG</td><td>Delete tag</td></tr>
</table>